ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:8080
# Kết nối SQL trong docker network
ConnectionStrings__Default=Server=dhdv_sql,1433;Database=dhdv;User ID=sa;Password="<CHANGE_ME>";Encrypt=False;TrustServerCertificate=True;MultipleActiveResultSets=True
ConnectionStrings__DefaultConnection=${ConnectionStrings__Default}
# Admin web (đổi sau khi deploy)
ADMIN_USER=admin
ADMIN_PASS=Anhtuan123
# Cloudflare Tunnel
CF_TUNNEL_TOKEN=eyJhIjoiNGI2NThkZjMxNmI3ZjcxMWM1YjZmNzE4MGRmNzllZjYiLCJ0IjoiZDUxODM5MDktZDQwZi00NGI2LTg5NTEtMjExNDMzYzVjMDRhIiwicyI6IllqTTBNalJsTjJJdE5UUTNOaTAwTlRkaExXRTBaVFV0TUdNd05USmpOV1F4TldFNSJ9
